.main {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto 20px;
}

.main__button-card {
  align-self: end;
}

.main-carousel {
  padding: 12px;
}

.main-calendar {
  display: flex;
  justify-content: center;
}


