.event {
  margin: 0px 20px;
}

.event__card {
  margin-bottom: 20px;
}

.event__form-register {
  margin-bottom: 20px;
}

.event__table-attendees {
  margin-bottom: 20px;
}

.event__button-taks {
  margin-bottom: 8px;
}

.event__table-task { 
  margin-bottom: 20px;
}
