.header {
  display: flex;
  align-items: center;
  padding: 0px 20px 20px;
  background-color: #7d1816;
}

.header__logo {
  max-width: 100%;
  max-height: 100px;
}

.header__button-home {
  background-color: none;
}

.header__button-log {
  margin-right: 12px;
}

.header__user {
  color: white;
  padding: 0;
  margin-left: auto;
  margin-right: 12px;
}

.header__nav {
  max-width: 100%;
}
