.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7d1816;
}

.header__logo {
  align-self: center;
  max-width: 100%;
  max-height: 30px;
}

.header__nav {
  max-width: 100%;
}
